.container {
  margin: 0 auto;
  width: 80%;
}

header {
  border: 3px solid #000000;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

h1 {
  color: #f2b0d5;
}

.content {
  margin-top: -20px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  background-color: #f9edf4;
}

.intro {
  font-style: italic;
}

.intro h2 {
  font-weight: bold;
}

.intro img {
  border: 3px dashed red;
  width: 50%;
  display: block;
  margin: 50px auto;
}

hr {
  color: #d6d6d6;
  width: 25%;
}
